numpy
Flask
pandas
pymongo
xgboost
lightgbm
requests
pybase64
tkcalendar
matplotlib
skforecast
scikit-learn
python-dotenv
dask[dataframe]
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
